html{
    height: 100%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
h1{
    font-family: Georgia, Times, 'Times New Roman', serif; 
    font-size: 32px;
}
h2{
    font-family: Georgia, Times, 'Times New Roman', serif; 
    font-size: 32px;
}
.content{
    flex: 1 0 auto;
}
.headerbar{
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    margin: auto;
    align-items: center;
}
.name{
    background-color:#4aaaa5;
    color: #ffffff;
    width: 380px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#choices{
    background-color: #ffffff;
    color: #777777;
}
a{
    color: #777777;
    text-decoration: none;
}
#placeholder{
    width: 300px;
}
.page{
    background-image: url(../images/mochaGrunge_@2X.png);
    padding-top: 1px;
    height: 500px;
}
.notecard{
    background-color: #ffffff;
    color: #777777;
    width: 960px;
    margin: auto;
    margin-top: 30px;
    height: 78%;
}
.secondary{
    color:#4aaaa5;
    margin: 10px;
}
.headshot{
    float: left;
    margin: 10px;
}
p{
    margin: 10px;
}
.footer{
    clear: both;
    background-color: #777777;
    color: #ffffff;
    height: 20px;
    padding-top: 5px;
    text-align: center;
    border-top: solid;
    border-top-color:#4aaaa5;
    border-top-width: 8px;
    flex-shrink: 0;
}
.form{
    margin: 10px;
}
input, textarea{
    width: 95%;
    border: 1px solid #222;
    margin-bottom: 10px;
}
.submission{
    background-color: #4aaaa5;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: 5px;
    width: 12%;
    margin-top: 5px;
}
.container{
    display: flex;
    flex-direction: row;
}
.giphy{
    background-color: #171717;
}
.giphy .button{
    top: 36px;
}
.projects{
    list-style: none;
    width: 200px;
    margin: 10px;
}
.short{
    padding-bottom: 0px;
}
.longer{
    height: 1000px;
}
.picture{
    margin: 10px;
    height: 200px;
    width: 200px;
}

img{
    max-height: 100%;
    max-width: 100%;
}

.warsimg{
    min-height: 180px;
}

.button{
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    padding: 5px;
    max-width: 100%;
    position: relative;
    top: -50px;
}
.content{
    display: flex;
    flex-direction: column;
    background-image: url(../images/mochaGrunge_@2X.png);
}

@media only screen and (max-device-width: 480px){

h2{
    text-align: center;
}
.headerbar{
    width: 100%;
}
.name{
    width:100%;
}
#choices{
    width: 100%;
    text-align: center;
}
.notecard{
    width: 80%;
    height: 95%;
}

.container{
    flex-direction: column;
    justify-content: center;
}
.projects{
    width: 50%;
    margin: auto;
}
.short{
    padding-bottom: 30px;
}
.longer{
    height: 1230px;
}
.picture{
    padding: 10px;
    margin: auto;
}
}